//Color
$white: #ffffff;
$light-grayish: #fbfbf7;
$mostly-black: #262626;
$gray: #b9b9b9;
$vivid-yellow: #ffe92f;
$very-blue: #70bfff;
$moderate-blue: #5585a2;
$soft-violet: #b07cf7;
$Bright-red: #f12b55;

//Gradient
$gradient-about: radial-gradient(circle at center, #00c3c3 0%, #00b8b7 32%, #00afae 68%, #009f9f 100%);
$gradient-blog: linear-gradient(0deg, #000000 0%, #ffffff 100%);

//shadow
$box-shadow:0px 2px 5px rgba(0,0,0,0.5);
$shadow-hover:0px 4px 10px rgba(0,0,0,0.5);

//Fonts
$font-Pacifico: 'Pacifico', cursive;
$font-Raleway: 'Raleway', sans-serif;
$font-size-h3:font-size 60px;

//Path
$path-img: "../img/";

